.searchbox{
    margin-top: 10px;
    margin-left: 300px;
}

.searchbox input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

.searchbox button{
    background-color: #2185d0;
    padding: 10px;
    margin-left: 10px;
}
// .giflist{
//     margin-left: auto;
// }