<div>
  <add-to-category></add-to-category>
</div>
<div class="conatiner">
<div class="cardsection">
    <div  class="p-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 gap-3" >
      <div *ngFor="let content of gifDataList"  class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="flex items-center mb-4">
            <input  Checkboxstyle
             (click)="itemCheckboxclick($event,content)" 
             type="checkbox" 
             name="categorycheck" />
        </div>
        <div class="px-6 py-4 bg-white px-6 pt-10 pb-8">
          <img src={{content.itemurl}}.gif/>
        </div>
      </div>
    </div>
  </div>
</div>

