.createcategory{
    margin-top: 10px;
}

.createcategory input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
    margin-left: 500px;
    width: 20%;
}

.createcategory button{
    background-color: #2185d0;
    padding: 10px;
    margin-left: 10px;
}
.selectcategorysection{
    margin-left: 500px;
}
