<div class="container">
    <form [formGroup] = "loginForm" >
      <h1>Login</h1>
      <div class="ui divider"></div>
      <div class="ui form">
        <div class="field">
          <label>Email</label>
          <input
            type="text"
            name="email"
            placeholder="Email"
            formControlName="email"
            [class.is-invalid]="loginForm.get('email')?.invalid
            && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
          />
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="errorMsg">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="!loginForm.get('email')?.errors?.['required'] && !loginForm.get('email')?.errors?.['minlength'] 
                      && !loginForm.get('email')?.errors?.['maxlength'] && loginForm.get('email')?.errors?.['pattern']">
            Invalid email format.
          </div>
          </div>

          </div>
        
        <div class="field">
          <label>Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>  
        <button class="fluid ui button blue" (click)="Loginsubmit()"  >Login</button>
        <br>
           <a [routerLink]="['/register']">New User? click to SignUp </a>
        </div>

    </form>

  </div>
